@import './colors.scss';

html {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem 4.5rem 1rem;

    & h1 {
        font-size: 1.75rem;
        font-weight: 800;
        z-index: 10;
    }

    & a {
        text-align: center;
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.75rem;
        border-radius: 1.75rem;
        padding: .62rem 1.5rem;
        text-decoration: none;
        color: $color-white;
        background: $color-darkBlue;
        z-index: 10;


        &:hover {
            background: $color-first-hover;
        }
    }
}

.left {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0 1rem;

    & h1 {
        font-size: 2.5rem;
        max-width: 21.43rem;
        font-weight: 800;
    }

    & p {
        max-width: 21.43rem;
        color: $color-gray;
        line-height: 1.62rem;
    }

    & a {
        font-size: 1rem;
        text-align: center;
        max-width: 10.43rem;
        padding: .9rem;
        font-weight: 700;
        background: $color-top-gradient;
        color: $color-white;
        text-decoration: none;
        border-radius: 1.93rem;

        &:hover {
            background: $color-top-gradient-hover;
        }
    }
}

.right {
    margin-top: 2.75rem;
}

.mobile_image {
    max-width: 100%;
}

.mid_section {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    background: $color-section-background;
    padding: 0 1rem 5rem 1rem;
}

.mid_gradient_container {
    background: $color-top-gradient;
    padding: 1.5rem 1.75rem 2rem 1.75rem;
    border-radius: .62rem;

    & p {
        max-width: 17.87rem;
        color: $color-white;
        font-weight: 800;
        font-size: 1.5rem;
        line-height: 2rem;
    }
}

.courses_container {
    background-color: $color-white;
    max-width: 100%;
    box-shadow: 0px 25px 50px 0px rgba(6, 22, 141, 0.04);
    border-radius: .62rem;
    padding: 0 1.75rem 2rem 1.75rem;

    & a {
        line-height: 1.75rem;
        font-size: 1.12rem;
        font-weight: 700;
        color: $color-lightPink;
        text-decoration: none;

        &:hover {
            color: #FFA7C3;
        }
    }
}

.course_image {
    max-width: 3.5rem;
    margin: -23px auto -9px auto;
}

.courses_text_content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1.5rem 0;

    & h4 {
        color: $color-darkBlue;
        font-size: 1.25rem;
        font-weight: 800;
    }

    & p {
        font-size: 1rem;
        color: $color-gray;
        line-height: 1.62rem;
    }
}

footer {
    background-color: $color-darkBlue;
    padding: 2.81rem 1rem;
}

.footer_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & h1 {
        font-size: 1.75rem;
        font-weight: 800;
        color: $color-white;
    }

    & a {
        text-align: center;
        color: $color-white;
        padding: .62rem 1.5rem;
        border-radius: 1.75rem;
        font-weight: 700;
        line-height: 1.75rem;
        text-decoration: none;
        background: $color-footer-gradient;

        &:hover {
            background: $color-footer-gradient-hover;
        }
    }
}

.tablet_image,
.desktop_image {
    display: none;
}

@media (min-width: 768px) {
    .header {
        padding: 1.5rem 2.5rem 0 2.5rem;
    }

    .mobile_image,
    .desktop_image {
        display: none;
    }

    .tablet_image {
        max-width: 40rem;
        width: 100%;
        display: block;
    }

    .top_section {
        display: flex;
        overflow: hidden;
        position: relative;
        min-height: 33rem;
        margin-bottom: 6.18rem;
        margin-top: -23px;
    }

    .left {
        padding: 6.5rem 1rem 0 2.43rem;

        & p {
            max-width: 24.87rem;
        }
    }

    .right {
        position: absolute;
        bottom: -7px;
        right: -273px;
        margin: 0;
    }

    .mid_section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
        grid-row-gap: 3.5rem;
        grid-column-gap: .68rem;
        padding: 0 2.43rem 5.37rem 2.43rem;
    }

    .mid_gradient_container {
        padding: 3.5rem 1.31rem 0 2rem;
    }

    footer {
        padding: 2.68rem 2.5rem;
    }
}

@media (min-width: 1024px) {
    .header {
        padding: 1.81rem 6rem 0 3rem;
    }

    .tablet_image {
        display: none;
    }

    .desktop_image {
        max-width: 55.93rem;
        display: block;
    }

    .top_section {
        margin-top: -80px;
        min-height: 45rem;
    }

    .right {
        bottom: 13px;
        right: -284px;
    }

    .left {
        padding: 13.5rem 0 0 3rem;

        & p {
            max-width: 27.81rem;
            font-size: 1.12rem;
        }
    }

    .mid_section {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-column-gap: 1.87rem;
        grid-row-gap: 5rem;
        padding: 0 3rem 8.75rem 3rem;
    }

    .mid_gradient_container {
        & p {
            font-size: 1.7rem;
            max-width: 17.87rem;
            line-height: 2.5rem;
        }
    }

    .courses_text_content {
        & p {
            max-width: 17.87rem;
        }
    }

    footer {
        padding: 2.68rem 3rem 2.68rem 3rem;
    }
}

@media (min-width: 1440px) {
    .header {
        padding: 2.37rem 10.31rem 0 10.31rem;

        & h1 {
            font-size: 2.25rem;
        }

        & a {
            font-size: 1.12rem;
            padding: .87rem 2rem;
        }
    }

    .top_section {
        margin-top: -94px;
    }

    .left {
        padding: 15.75rem 0 0 10.31rem;

        & h1 {
            max-width: 29rem;
            font-size: 3.5rem;
        }

        & a {
            font-size: 1.12rem;
            padding: 1.18rem 2rem;
        }
    }

    .right {
        right: -238px;
        bottom: 2px;
    }

    .mid_section {
        padding: 0 10.31rem 8.75rem 10.31rem;
    }

    .mid_gradient_container {
        border-radius: .93rem;
        padding: 4rem 2rem 8.625rem 2rem;

        & p {
            font-size: 2rem;
            max-width: 17.87rem;
        }
    }

    .courses_container {
        padding: 0 2rem 2.5rem 2rem;
        border-radius: .93rem;

        & h4 {
            font-size: 1.5rem;
        }

        & p {
            font-size: 1.12rem;
            max-width: 17.87rem;
        }
    }

    .courses_text_content {
        margin: 2rem 0 1.5rem 0;
    }

    footer {
        padding: 2rem 10.31rem;
    }

    .footer_wrap {

        & h1 {
            font-size: 2.25rem;
        }

        & a {
            font-size: 1.12rem;
            padding: .87rem 2rem;
        }
    }
}